@font-face {
    font-family: "KaushanScript";
    src: url("fonts/KaushanScript-Regular.woff2") format("woff2"), url("fonts/KaushanScript-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "Cartoonist";
    src: url("fonts/SFCartoonistHand.woff2") format("woff2"), url("fonts/SFCartoonistHand.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/*General styles*/

body {
    margin: 0;
    padding: 0;
    height: 5100px;
    background: linear-gradient(#49fc76, #4e00de);
}

audio {
    width: 350px;
    margin-top: 5%;
    margin-left: 5%;
}

/*Header styles*/

.header {
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.6em;
    color: #4e00de;
    height: 150px;
}


.page-tittle {
    text-align: center;
}

.link {
    font-size: 20px;
    color: #4e00de;
    display: block;
    text-decoration: none;
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
}

.author {
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    color: #4e00de;
    font-size: 23.5px;
    text-align: right;
    margin-top: -7%;
    margin-right: 2%;
}

/*Main-info section styles*/

.main-info {
    display: flex;
    margin-top: 1%;
}

.description {
    font-size: 25px;
    line-height: 0.8em;
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    color: black;
}

.mobile-description {
    display: none;
}

.purple-text {
    color: #4e00de;
}

.producer {
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    color: #4e00de;
    position: relative;
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
}

/*Top-tracks section styles*/

.top-tracks {
    margin-top: 7%;
}

.top-tracks__tittle {
    color: #4e00de;
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;

}

.name {
    background: white;
    display: inline-block;
    position: relative;
    padding: 30px 200px;
    z-index: 2;
    margin-bottom: 50px;
}

.name::before {
    content: '';
    width: 148px;
    height: 148px;
    background: white;
    position: absolute;
    left: -148px;
    top: 0;
}

.name::after {
    content: '';
    background: white;
    width: 73.5px;
    height: 73.5px;
    border-radius: 10px;
    position: absolute;
    right: -36px;
    transform: rotate(45deg);
    top: 11px;
    z-index: -1;
}

.name__plaster {
    color: #4e00de;
    font-size: 25px;
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.song {
    margin-top: 70px;
}

.track {
    display: flex;
}

.fragment {
    margin-left: 20%;
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    color: #ffea00;
    font-size: 32px;
    line-height: 0.5em;
}

/*Albums-n-singles section styles*/

.albums-and-singles {
    margin-top: 100px;
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    color: #49fc76;
    margin-left: 1%;
}

.albums-and-singles__tittle {
    text-align: center;
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #49fc76;
    font-size: 30px;
}

.albums {
    display: flex;
    margin-left: 0%;
}

.album {
    text-align: center;
    font-size: 27px;
    margin-right: 2%;
}

.album-tittle {
    white-space: nowrap;
}


/*Footer styles*/

.contacts {
    margin-top: 10%;
}

.social-media__tittle {
    font-family: 'KaushanScript', Arial, sans-serif;
    font-weight: 400;
    color: #49fc76;
    font-size: 40px;
    text-align: left;
}

.footer-link {
    font-size: 25px;
    color: #49fc76;
    display: block;
    text-decoration: none;
    font-family: 'Cartoonist', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: left;
}

.map {
    margin-left: 50%;
    margin-top: -15%; 
    width: 500px;
    height: 400px;
}

/*Adaptive*/

@media (min-width: 1px) and (max-width: 320px) { /******5********/

    body {
        height: 4800px;
        max-width: 320px;
    }
    
    audio {
        width: 270px;
        height: 30px;
        margin-top: -10%;
        margin-left: 2%;
    }
    
    .header {
        font-size: 11px;
        line-height: 0.5em;
        height: 150px;
    }
    
    .link {
        font-size: 20px;
        text-align: left;
        margin-top: 5%;
        margin-left: 3%;
    }
    
    .author {
        font-size: 16px;
        text-align: left;
        margin-top: 12%;
        margin-left: 3%;
    }
    
    .info-image {
        display: none;
    }

    .description {
        display: none;
    }

    .mobile-description {
        display: block;
        font-family: 'Cartoonist', Arial, sans-serif;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
    }

    .producer {
        text-align: center;
        margin-top: 10%;
        font-size: 24px;
    }
    
    .top-tracks {
        margin-top: 5%;
    }
    
    .top-tracks__tittle {
        font-size: 19px;
    }
    
    .name {
        padding: 10px 25px;
        margin-bottom: 50px;
        white-space: nowrap;
    }
    
    .name::after {
        width: 39px;
        height: 39px;
        right: -21.5px;
        top: 4px;

    }
    
    .name__plaster {
        font-size: 18px;
    }
    
    .song {
        margin-top: 15%;
    }
    
    .track {
        display: block;
    }
    
    .fragment {
        font-size: 18px;
        line-height: 0.8em;
        margin-top: 8%;
        margin-left: 3%;
        text-align: center;
    }
    
    .albums-and-singles {
        margin-top: 50px;
        color: #49fc76;
    }
    
    .albums-and-singles__tittle {
        color: #49fc76;
        font-size: 20px;
    }
    
    .albums {
        display: block;
        margin-left: -2.5%;
    }
    
    .album {
        font-size: 19px;
    }

    .contacts {
        margin-top: 6%;
    }
    
    .social-media__tittle {
        font-size: 21px;
        margin-left: 2%;
    }
    
    .footer-link {
        margin-left: 2%;
        font-size: 20px;
        color: #49fc76;
        display: block;
    }
    
    .map {
        margin-left: 6.5%;
        margin-top: 7%; 
        width: 260px;
        height: 260px;
    }
}

@media (min-width: 321px) and (max-width: 480px) { /******S6********/

    body {
        height: 5250px;
        max-width: 480px;
    }
    
    audio {
        width: 300px;
        height: 30px;
        margin-top: -10%;
        margin-left: 4%;
    }
    
    .header {
        font-size: 14px;
        line-height: 0.5em;
        height: 200px;
    }
    
    .link {
        font-size: 20px;
        text-align: left;
        margin-top: 5%;
        margin-left: 3.5%;
    }
    
    .author {
        font-size: 18px;
        text-align: left;
        margin-top: 18%;
        margin-left: 3.5%;
    }
    
    .info-image {
        display: none;
    }

    .description {
        display: none;
    }

    .mobile-description {
        display: block;
        font-family: 'Cartoonist', Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
    }

    .producer {
        text-align: center;
        margin-top: 10%;
        font-size: 24px;
    }
    
    .top-tracks {
        margin-top: 5%;
    }
    
    .top-tracks__tittle {
        font-size: 25px;
    }
    
    .name {
        padding: 10px 45px;
        margin-bottom: 50px;
        white-space: nowrap;
    }
    
    .name::after {
        width: 39px;
        height: 39px;
        right: -21px;
        top: 3.5px;

    }
    
    .name__plaster {
        font-size: 18px;
    }
    
    .song {
        margin-top: 20%;
    }
    
    .track {
        display: block;
    }
    
    .fragment {
        font-size: 20px;
        line-height: 0.8em;
        margin-top: 8%;
        margin-left: 1%;
        text-align: center;
    }
    
    .albums-and-singles {
        margin-top: 50px;
        color: #49fc76;
    }
    
    .albums-and-singles__tittle {
        color: #49fc76;
        font-size: 27px;
    }
    
    .albums {
        display: block;
        margin-left: 1%;
    }
    
    .album {
        font-size: 19px;
    }

    .contacts {
        margin-top: 6%;
    }
    
    .social-media__tittle {
        font-size: 24px;
    }
    
    .footer-link {
        font-size: 20px;
        color: #49fc76;
        display: block;
    }
    
    .map {
        margin-left: 7%;
        margin-top: 10%; 
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        height: 5850px;
        max-width: 768px;
    }
    
    audio {
        width: 310px;
        height: 40px;
        margin-top: -10%;
        margin-left: 1%;
    }
    
    .header {
        font-size: 17px;
        line-height: 0.5em;
        height: 200px;
    }
    
    .link {
        font-size: 22px;
        text-align: left;
        margin-top: 3%;
        margin-left: 3.5%;
    }
    
    .author {
        font-size: 25px;
        text-align: left;
        margin-top: 7%;
        margin-left: 3.5%;
    }
    
    .info-image {
        display: none;
    }

    .description {
        font-size: 20px;
        line-height: 0.7em;
        margin-top: 20px;
        width: 760px;
        text-align: left;
        margin-left: 1%;
    }

    .mobile-description {
        display: none;
    }

    .producer {
        text-align: center;
        margin-top: 6%;
        font-size: 28px;
    }
    
    .top-tracks {
        margin-top: 3.5%;
    }
    
    .top-tracks__tittle {
        font-size: 27px;
    }
    
    .name {
        padding: 10px 90px;
        margin-bottom: 50px;
        white-space: nowrap;
    }
    
    .name::after {
        width: 39px;
        height: 39px;
        right: -21.5px;
        top: 4px;

    }
    
    .name__plaster {
        font-size: 18px;
    }
    
    .song {
        margin-top: 10%;
    }
    
    .track {
        display: block;
    }
    
    .fragment {
        font-size: 27px;
        line-height: 0.8em;
        margin-top: 8%;
        margin-left: 1%;
        text-align: center;
        margin-right: 2%;
    }
    
    .albums-and-singles {
        margin-top: 75px;
        color: #49fc76;
    }
    
    .albums-and-singles__tittle {
        color: #49fc76;
        font-size: 28px;
    }
    
    .albums {
        display: block;
        margin-left: 1%;
    }
    
    .album {
        font-size: 25px;
        margin-top: 55px;
    }

    .contacts {
        margin-top: 3%;
    }
    
    .social-media__tittle {
        font-size: 35px;
        margin-left: 4%;
    }
    
    .footer-link {
        font-size: 25px;
        color: #49fc76;
        display: block;
        margin-left: 4%;
    }
    
    .map {
        margin-left: 13%;
        margin-top: 5%; 
        width: 500px;
        height: 375px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    body {
        height: 5800px;
        max-width: 768px;
    }
    
    audio {
        width: 280px;
        height: 40px;
        margin-top: -10%;
        margin-left: 1%;
    }
    
    .header {
        font-size: 16px;
        line-height: 0.5em;
        height: 200px;
    }
    
    .link {
        font-size: 20px;
        text-align: left;
        margin-top: 3%;
        margin-left: 3.5%;
    }
    
    .author {
        font-size: 23px;
        text-align: left;
        margin-top: 8%;
        margin-left: 3.5%;
    }
    
    .info-image {
        display: none;
    }

    .description {
        font-size: 20px;
        line-height: 0.7em;
        margin-top: 20px;
        width: 560px;
    }

    .mobile-description {
        display: none;
    }

    .producer {
        text-align: center;
        margin-top: 10%;
        font-size: 24px;
    }
    
    .top-tracks {
        margin-top: 5%;
    }
    
    .top-tracks__tittle {
        font-size: 27px;
    }
    
    .name {
        padding: 10px 90px;
        margin-bottom: 50px;
        white-space: nowrap;
    }
    
    .name::after {
        width: 39px;
        height: 39px;
        right: -21.5px;
        top: 4px;

    }
    
    .name__plaster {
        font-size: 18px;
    }
    
    .song {
        margin-top: 10%;
    }
    
    .track {
        display: block;
    }
    
    .fragment {
        font-size: 24px;
        line-height: 0.8em;
        margin-top: 8%;
        margin-left: 1%;
        text-align: right;
        margin-right: 2%;
    }
    
    .albums-and-singles {
        margin-top: 50px;
        color: #49fc76;
    }
    
    .albums-and-singles__tittle {
        color: #49fc76;
        font-size: 25px;
    }
    
    .albums {
        display: block;
        margin-left: 1%;
    }
    
    .album {
        font-size: 23px;
        margin-top: 50px;
    }

    .contacts {
        margin-top: 5%;
    }
    
    .social-media__tittle {
        font-size: 35px;
        margin-left: 3%;
    }
    
    .footer-link {
        font-size: 25px;
        color: #49fc76;
        display: block;
        margin-left: 3%;
    }
    
    .map {
        margin-left: 16.5%;
        margin-top: 10%; 
        width: 500px;
        height: 320px;
    } 
}
